@import './variables.scss';
@import './element-ui.scss';
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
// 通用子页面顶部按钮操作栏
.oper-bar{
  display: flex;
  justify-content: space-between;
  .bar-left{
    margin-right: 10px;
  }
  .el-button{
    margin-bottom: 10px;
  }
}
.lang-item{
  line-height: 30px;
  cursor: pointer;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F5F5F5;
  &:hover{
    color: #444444;
    background-color: #FAFAFA;
  }
  &.white-border{
    border-bottom: 1px solid #FFFFFF;
  }
}